* {
    box-sizing: border-box;
}

body {
	font-family: Palatino;
	margin-left: 45px;
	margin-right: 45px;
	margin-top: 45px;
	margin-bottom: 45px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
}

.page-heading {
	font-family: 'Arial';
	letter-spacing: 3px;
	text-align: center;
}
.footer {
	font-size: 12px;
	font-weight: normal;
	color: #dddddd;
}

a {
	color: #999999;
	text-decoration: none;
}

a:hover {
	color: #807dfb !important;
}

a.selected {
	text-decoration: underline;
	color: #807dfb !important;
}

.name-header {
	font-family: Arial;
	font-weight: normal;
	color: #807dfb !important;
}

a.name-header {
	color: #807dfb !important;
}

.image-subline {
	margin-top: 10px;
	color: black;
}

.image-year {
	margin-top: 6px;
	color: #999999;
	font-weight: bold;
	font-size: 10px;

}

#sidebar-label a {
	color: black;
}

#sidebar-label {
	margin-top: 35px;
	font-family: Arial;
	color: black;
	font-weight: bold;
	font-size: 9px;
	
}

.icon {
	float: right;
	padding-top: 23px;
	font-family: Arial;
}

.works-sidebar {
	margin-top: 10px;
	/*margin-left: 5px;*/
	line-height: 1.8;
	font-size: 14px;
}

.column-left {
	width: 20%;
}

.column-right {
	width: 80%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    body {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.desktop-table {
		display: none;
		visibility: hidden;
	}

	#myTopnav {
		display: none;
	}


}

@media screen and (min-width: 600px) {
	.mobile-table {
		display: none;
		visibility: hidden;
	}

	.icon {
		display: none;
	}

	#myTopnav {
		display: block;
	}

}


/*responsive navbar*/
.topnav .icon {
    float: right;
    display: block;
}
